/* FONTS
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Comfortaa', cursive;
*/
body {
    font-family: 'Comfortaa', cursive !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial', sans-serif !important;
}

.d-block, .w-100 {
    max-height: 400px !important;
}


#nav {
    width: 100% !important;
}

#nav, #home, #about, #faq, #resources, #online, #phone, #affiliates, #get-help, #contact, #visit {
    display:none;
}

.bg-light {
    background-color: #ffffff !important;
}

.nav-link {
    background: #a685db !important;
    color: white !important;
    padding: 6px 20px !important;
    font-size: 0.8em !important;
    margin-right: 20px !important;
    cursor: pointer;
}

.nav-link.active {
    background-color: #985ef5;
}

.navbar-light .navbar-brand {
    font-family: 'Bilbo Swash Caps', cursive !important;
    color: rgba(73, 16, 78, 0.9) !important;
    margin-right: 10% !important;
    font-size: 2em !important;
}

.welcome-card {
    width: 55%;
    margin: auto;
    padding: 4vh 5vw;
    margin-top: 10%;
}

.btn-primary {
    background-color: #a685db;
    border-color: #a685db;
}

.btn-primary:hover {
    background-color: #985ef5;
    border-color: #985ef5;
}

.form-control {
    margin-bottom: 15px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #a685db  !important;
}