/* FONTS
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Comfortaa', cursive;
*/
body {
    font-family: 'Comfortaa', cursive !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial', sans-serif !important;
}


#nav {
    width: 100% !important;
}

#nav, #home, #about, #services, #info, #contact, #volunteer {
    display:none;
}

#logo-img {
    margin-right: 15px;
}

.bg-light {
    background-color: #ffffff !important;
}

.nav-link {
    background: #a685db !important;
    color: white !important;
    padding: 6px 20px !important;
    font-size: 0.8em !important;
    margin-right: 20px !important;
    cursor: pointer;
}

.nav-link.active {
    background-color: #985ef5;
}

.navbar-light .navbar-brand {
    font-family: 'Heebo', sans-serif !important;
    color: rgb(223, 43, 106) !important;
    margin-right: 10% !important;
    font-weight: bold;
    font-size: 0.95em !important;
}

.welcome-card {
    width: 55%;
    margin: auto;
    padding: 4vh 5vw;
    margin-top: 10%;
}

.btn-primary {
    background-color: #a685db;
    border-color: #a685db;
}

.btn-primary:hover {
    background-color: #985ef5;
    border-color: #985ef5;
}

.form-control {
    margin-bottom: 15px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #a685db  !important;
}

.carousel {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 77px;
    margin-bottom: 20px !important;
}

.d-block {
    height: 410px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.d-block.one {
    background-image: url('/assets/friend.jpg');
}

.d-block.two {
    background-image: url('/assets/home_two.png');
}

.top-bar {
    position: absolute;
    top: 87px;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    background: #ea91b0;
    padding: 35px;
    border-bottom: 20px solid #f1ecfb;
}

a:hover {
    color: #6935bd !important;
}

a {
    color: #a685db !important;
}

.home-msg {
    text-align: center;
    margin-top: 500px !important;
}

.full-top {
    height:400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.full-top .message-text {
    top: calc(200px - 93px);
    padding: 30px;
    margin: auto;
    position: relative;
    width: 55%;
    background: #ffffffbf;
    text-align: center;
}

#bloom {
    background-image: url('/assets/bloom.jpg');
}

#serv {
    background-image: url('/assets/services.png');
}

#vol {
    background-image: url('/assets/vol.png');
}

.half-box {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

#facts {
    background-image: url('/assets/sad.jpg');
}

.half-img {
    width:40%;
    min-width: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.half-text {
    width:60%;
    min-width: 400px;
    padding: 0 35px;
}


@media(max-width:600px) {
    .top-bar {
        position: relative !important;
        margin-top: 0 !important;
        top: 0 !important;
    }

    .full-top .message-text {
        font-size: 1.2em !important;
        top: calc(200px - 34%) !important;
    }

    .navbar-brand {
        margin-left: -5px;
        font-size: 0.6em !important;
    }

    #logo-img {
        width: 25px !important;
        margin-right: 5px !important;
    }
}